<%= form_tag('/', method: 'get') do %>
  <%= label_tag(:city, "City:") %>
  <%= text_field_tag(:search_query) %>
  <%= submit_tag('Search') %>
<% end %>
<ul id="city-results">
  <% @cities.each do |city| %>
    <li><%= "#{city[:name]}, #{city[:country]}" %></li>
    <%= link_to "View Weather", view_weather_path(city: city[:name]) %>
  <% end %>
</ul>
